/* UTILS */

body {
    background-color: rgba(187, 26, 26, 0.475)
}

.bg-red {
    background-color: rgba(187, 26, 26, 0.829);
}

.menu-border {
    border: 3px solid rgba(187, 26, 26);

}

.menu-img {

    height: 15vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.font {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Ruwudu', serif;
}

.cart {
    min-height: 70vh;
}